@import "compass";

@import "../breakpoints";
@import "../screen";

body.about-page {
    background-image: url(/img/backgrounds/about.jpg);
}

.about {
    @include full-screen-page();

    .about-screen {
        @include full-screen-container();
    }

    .about-blurb {
        @include full-screen-blurb();
    }
}

@mixin about-section() {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 50px auto;
    padding: 50px;
    width: 90%;

    @include respond-to('tablet-down') {
        margin: 0 auto;
        padding: 10px;
    }
}

.about-our-work {
    @include about-section;

    @include respond-to('tablet-down') {
        width: 100%;
    }

    h3 {
        color: black;
        text-align: center;
    }
}

.about-team {
    @include about-section;

    @include respond-to('tablet-down') {
        width: 100%;
    }

    h3 {
        color: black;
        display: inline-block;
        text-align: center;
        width: 90%;
    }
}

.bio-list {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-around);
    list-style: none;

    .bio-item {
        max-width: 200px;
        min-width: 200px;
        margin: 25px 20px;
        padding: 0;
        text-align: center;

        @include respond-to('tablet-down') {
            max-width: 50%;
        }

        @include respond-to('phone-down') {
            float: none;
            max-width: none;
            margin: 20px auto;
            padding: 0 10px;
            width: 100%;
        }

        &-image {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            height: 200px;
            margin: 0 auto;
            width: 200px;
        }
    }
}

.about-funders {
    @include about-section;

    h3 {
        color: black;
        display: inline-block;
        text-align: center;
        width: 90%;
    }
}

.funder-list {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    list-style: none;

    .funder-item {
        margin: 0;
        padding: 0;
        width: 250px;

        @include respond-to('tablet-down') {
            margin-top: 30px;
            padding-left: 0;
            width: 100%;

            &:first-of-type {
                margin-top: 0;
            }
        }

        img {
            max-width: 100%;
        }
    }
}

.partner-list {
    list-style: none;

    .partner-item {
        width: 150px;

        img {
            max-width: 100%;
        }
    }
}
