@import "../breakpoints";
@import "../screen";

.about {
    @include full-screen-page();

    .about-screen {
        @include full-screen-container();
    }

    .about-blurb {
        @include full-screen-blurb();
    }
}

.about-our-work {
    margin: 0 auto;
    width: 90%;

    @include respond-to('phone-down') {
        width: 100%;
    }

    h3 {
        color: black;
        text-align: center;
    }
}

.about-team {
    margin: 0 auto;
    width: 90%;

    @include respond-to('phone-down') {
        width: 100%;
    }

    h3 {
        color: black;
        text-align: center;
    }
}

.bio-list {
    list-style: none;

    .bio-item {
        float: left;
        max-width: 200px;
        margin: 0 20px;
        padding: 0;
        text-align: center;

        @include respond-to('phone-down') {
            float: none;
            max-width: none;
            margin: 20px auto;
            padding: 0 10px;
            width: 50%;
        }

        &-image {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            height: 200px;
            margin: 0 auto;
            width: 200px;
        }
    }
}

.about-funders {
    h3 {
        color: black;
        text-align: center;
    }
}

.funder-list {
    list-style: none;

    .funder-item {
        float: left;
        width: 250px;

        @include respond-to('phone-down') {
            margin-top: 30px;
            padding-left: 0;
            width: 100%;

            &:first-of-type {
                margin-top: 0;
            }
        }

        img {
            max-width: 100%;
        }
    }
}

.partner-list {
    list-style: none;

    .partner-item {
        width: 150px;

        img {
            max-width: 100%;
        }
    }
}
