@import "../screen";

.about {
    @include full-screen-page();

    .about-screen {
        @include full-screen-container();
    }

    .about-blurb {
        @include full-screen-blurb();
    }
}

.bio-list {
    list-style: none;

    .bio-item {
        float: left;
        text-align: center;
        width: 150px;

        img {
            border-radius: 50%;
            max-width: 100%;
        }
    }
}

.funder-list {
    list-style: none;

    .funder-item {
        width: 150px;

        img {
            max-width: 100%;
        }
    }
}

.partner-list {
    list-style: none;

    .partner-item {
        width: 150px;

        img {
            max-width: 100%;
        }
    }
}
