@import "../screen";

.archive {
    @include full-screen-page();

    .archive-screen {
        @include full-screen-container();
    }

    .archive-blurb {
        @include full-screen-blurb();
    }
}

body.archive-section {
    .logo-link {
        background-image: url(/img/archive-icon.png);
    }

    &.archive-page {
        background-image: url('/img/backgrounds/archive.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
