.previous-artifact {
    float: left;
}

.next-artifact {
    float: right;
}

img {
    max-width: 100%;
}

.artifact-image-caption {
    font-size: 75%;
}

@mixin artifact-grid-item() {
    background: #7D494E;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    cursor: pointer;
    float: left;
    height: 125px;
    list-style: none;
    margin: 5px 0;
    padding: 0;

    &:hover .artifact-grid-item-inner {
        display: block;
    }
}

.artifact-grid-item-narrow {
    @include artifact-grid-item();
    width: 33.3333%;
}

.artifact-grid-item-wide {
    @include artifact-grid-item();
    width: 66.6666%;
}

.artifact-grid-item-inner {
    background-color: rgba(122, 72, 76, 0.6);
    display: none;
    height: 100%;
    width: 100%;

    &-text {
        padding: 15px;
        padding-top: 30px;
    }
}
