.previous-artifact {
    float: left;
    font-size: 50px;
    font-weight: normal;
    margin-top: 50%;
}

.next-artifact {
    float: right;
    font-size: 50px;
    font-weight: normal;
    margin-top: 50%;
}

img {
    max-width: 100%;
}

.artifact-image-caption {
    font-size: 75%;
}

.artifact {
    background-color: #D8C7A5;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;

    h2 {
        border-bottom: 1px solid black;
        color: white;
        font-weight: normal;
    }

    &-left {
        float: left;
        width: 66.6666%;
    }

    &-right {
        float: left;
        width: 33.3333%;
    }
}

body.archive-section.archive-page {
    background-image: url('/img/backgrounds/archive.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}

body.archive-section.artifact-page {
    background-image: url('/img/backgrounds/archive-artifact.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
