@import "compass";

@import "../arrows";
@import "../spacing";

.previous-artifact {
    @include prev-arrow();
}

.next-artifact {
    @include next-arrow();
}

img {
    max-width: 100%;
}

.artifact-image-caption {
    font-size: 75%;
}

.artifact {
    @include display-flex;
    @include flex-direction(column);
    background-image: url(/img/artifact-sheet.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 609px;
    max-height: 609px;
    max-width: 871px;
    margin: 0 auto;
    padding: 20px;

    h2 {
        border-bottom: 1px solid black;
        color: white;
        @include flex(0 auto);
        font-weight: normal;
    }

    &-body {
        @include display-flex;
        @include flex-direction(row);
    }

    &-left {
        @include display-flex;
        @include flex-direction(column);
        width: 55%;
    }

    &-image-container {
        @include display-flex;
        @include flex-direction(column);
        height: 66%;
        max-height: 66%;
    }

    &-image {
        @include flex(1 1 auto);
        background-repeat: no-repeat;
        background-size: contain;
        max-height: 100%;
    }

    &-right {
        @include display-flex;
        @include flex-direction(column);
        width: 45%;
    }

    &-text {
        max-height: 50%;
        overflow: auto;

        & p:first-of-type {
            margin-top: 0;
        }
    }

    &-more {
        margin-top: 15px;
    }
}

body.archive-section.artifact-page {
    background-image: url('/img/backgrounds/archive-artifact.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
