body.archive-section.theme-page {
    background-image: url('/img/backgrounds/archive-theme.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
