@import "../breakpoints";

@mixin artifact-grid-item() {
    background: #7D494E;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    float: left;
    height: 250px;
    list-style: none;
    margin: 5px 0;
    padding: 0;

    &:hover .artifact-grid-item-inner {
        display: block;
    }

    @include respond-to('tablet-down') {
        height: 300px;
    }

    @include respond-to('phone-down') {
        height: auto;
    }
}

.artifact-grid-container {
    min-height: 90vh;

    h2 {
        border-bottom: 1px solid white;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 75px;
        width: 90%;
    }

    .artifact-theme {
        color: white;
    }

    .artifact-grid-themes {
        display: inline-block;
    }

    .artifact-grid-theme {
        float: left;
        margin-left: 3px;

        &:first-of-type {
            margin-left: 0;
        }
    }

    .artifact-grid-item-inner {
        background-color: rgba(122, 72, 76, 0.75);
        display: none;
        font-family: Linowrite, serif;
        font-size: 26px;
        height: 100%;
        line-height: 28px;
        padding: 10px 12%;
        text-align: center;
        text-transform: uppercase;
        width: 100%;

        @include respond-to('tablet-down') {
            display: block;
        }
    }

    .artifact-grid-item-narrow {
        @include artifact-grid-item();
        width: 33.3333%;

        .artifact-grid-item-inner {
            padding: 10px 2%;
        }
    }

    .artifact-grid-item-wide {
        @include artifact-grid-item();
        width: 66.6666%;
    }

    @include respond-to('phone-down') {
        .artifact-grid-item-narrow,
        .artifact-grid-item-wide {
            width: 100%;
        }
    }

}
