@import "../breakpoints";
@import "../colors";

body.bio-page {
    background-image: url(/img/backgrounds/bio.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    main {
        min-height: 80vh;
    }
}

.bio-individual {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    padding: 75px;

    @include respond-to('phone-down') {
        padding: 25px;
    }

    .bio-left {
        float: left;
        width: 250px;

        @include respond-to('phone-down') {
            width: 100%;
        }
    }

    .bio-right {
        float: left;
        padding-left: 50px;
        width: calc(100% - 250px);

        @include respond-to('phone-down') {
            padding: 0;
            width: 100%;
        }
    }

    .bio-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid $gold;
        border-radius: 50%;
        height: 250px;
        margin: 0 auto;
        width: 250px;
    }

    .bio-name {
        text-align: center;
    }
}
