@import "../colors";

body.bio-page {
    background-image: url(/img/backgrounds/bio.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    main {
        min-height: 80vh;
    }
}

.bio-individual {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    padding: 75px;

    .bio-left {
        float: left;
        width: 25%;
    }

    .bio-right {
        float: left;
        padding-left: 50px;
        width: 75%;
    }

    .bio-image {
        border: 2px solid $gold;
        border-radius: 50%;
        max-width: 100%;
    }

    .bio-name {
        text-align: center;
    }
}
