@import "../colors";
@import "../screen";

.chasm {
    @include full-screen-page();

    .chasm-screen {
        @include full-screen-container();
    }

    .chasm-blurb {
        @include full-screen-blurb();
    }
}

body.chasm-section {
    background-image: url('/img/backgrounds/paper.jpg');
    background-position: top center;

    .logo-link {
        background-image: url(/img/chasm-icon.png);
    }
}

.chasm-body {
    background-image: url(/img/backgrounds/chasm.jpg);
    color: $red;
    padding: 50px;
    font-variant: small-caps;

    .serial-displacement-crack,
    .serial-displacement-timeline {
        display: block;
        max-width: 100%;
        margin: 20px auto;
    }
}
