@import "../breakpoints";
@import "../colors";
@import "../screen";

.chasm {
    @include full-screen-page();

    .chasm-screen {
        @include full-screen-container();
    }

    .chasm-blurb {
        @include full-screen-blurb();
    }
}

body.chasm-section {
    background-image: url('/img/backgrounds/paper.jpg');
    background-position: top center;

    .logo-link {
        background-image: url(/img/chasm-icon.png);
    }
}

$chasm-body-page-padding: 100px;

.chasm-body {
    color: $red;
    font-size: 20px;
    font-variant: small-caps;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    .chasm-body-page {
        background-image: url(/img/backgrounds/chasm.png);
        background-position: top center;
        background-size: cover;
        margin-top: 50px;
        padding: $chasm-body-page-padding;
        width: 100%;

        p {
            position: relative;
        }

        @include respond-to('phone-down') {
            padding: 10px;
        }
    }

    .chasm-body-key {
        color: $black;
        font-family: Linowrite;
        font-size: 28px;
        margin: 0 (-$chasm-body-page-padding);
    }

    .chasm-body-key-image {
        float: left;
        width: 40%;
    }

    .chasm-body-key-text {
        float: right;
        width: 60%;
    }

    .chasm-body-key-separator {
        background-color: $black;
        height: 2px;
        margin: 10px auto;
        width: 80%;
    }

    .serial-displacement-crack,
    .serial-displacement-timeline {
        display: block;
        max-width: 100%;
        margin: 20px auto;
    }

    .policy-item {
        margin: 15px 0;

        @include respond-to('phone-down') {
            margin: 40px 0;
        }
    }

    .policy-item-header {
        background-image: url(/img/chasm-policy-header.png);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        display: inline-block;
        font-family: "affogato-regular";
        font-size: 20px;
        font-variant: small-caps;
        margin: 0;
        margin-left: -20px;
        padding: 5px 20px;
    }

    .policy-item-image-container {
        background-image: url(/img/chasm-figure-background.png);
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        padding: 10px;
        width: 30%;

        @include respond-to('phone-down') {
            float: none;
            margin-bottom: 15px;
            width: 100%;
        }

        img {
            cursor: pointer;
            max-width: 100%;
        }
    }

    .policy-item-body {
        float: right;
        width: 50%;

        @include respond-to('phone-down') {
            float: none;
            width: 100%;
        }
    }
}
