@import "../breakpoints";

$link-size: 35px;

.dynamic-content-theme-link {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    font-size: 0;
    height: $link-size;
    left: -50px;
    position: absolute;
    width: $link-size;

    @include respond-to('tablet-down') {
        left: -($link-size + 5);
    }

    @include respond-to('phone-down') {
        left: -$link-size;
    }

    &.theme-corner-good-hope {
        background-image: url(/img/themes/corner-good-hope.png);
    }

    &.theme-crossroads {
        background-image: url(/img/themes/crossroads.png);
    }

    &.theme-history-us-cities {
        background-image: url(/img/themes/history-us-cities.png);
    }

    &.theme-industry-and-infrastructure {
        background-image: url(/img/themes/industry-and-infrastructure.png);
    }

    &.theme-lifecycle {
        background-image: url(/img/themes/lifecycle.png);
    }

    &.theme-nostalgia {
        background-image: url(/img/themes/nostalgia.png);
    }
}
