header {
    margin-left: 25px;
    padding: 25px 0;
    position: absolute;
    z-index: 100;

    h1 {
        float: left;
    }

    .navbar {
        float: left;
        margin-left: 20px;
    }

    .search {
        float: left;
        margin-left: 20px;
    }
}
