@import "../spacing";

header {
    margin-left: $body-margin;
    margin-right: $body-margin;
    padding: 25px 0;
    position: absolute;
    width: calc(100% - #{2 * $body-margin});
    z-index: 100;

    h1 {
        float: left;
        width: 20%;
    }

    .logo-link {
        background-image: url(/img/logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        height: 63px;
        width: 100%;
    }

    .navbar {
        float: left;
        margin-left: 20px;
        margin-top: 20px;
    }

    .search {
        float: left;
        margin-left: 20px;
        margin-top: 20px;
        width: 15%;
    }
}
