@import "../breakpoints";
@import "../colors";
@import "../screen";

body.home-section {
    background-image: url('/img/backgrounds/home.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    color: $gold;

    footer {
        margin-top: 0;
    }

    @include respond-to('phone-down') {
        background-size: auto 100vh;
    }
}

.home {
    @include full-screen-page();

    .home-screen {
        @include full-screen-container();
        height: 67vw;

        @include respond-to('phone-down') {
            height: 100vh;
        }
    }
}

.home-icon-menu {
    min-width: 200px;
    transform: rotate(-8deg);

    a {
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        height: 50px;
        margin-left: 20px;
        width: 50px;

        &:first-of-type {
            margin-left: 0;
        }
    }

    .archive-link {
        background-image: url(/img/archive-icon.png);
    }

    .chasm-link {
        background-image: url(/img/chasm-icon.png);
    }

    .prism-link {
        background-image: url(/img/prism-icon.png);
    }
}

.home-menu {
    list-style: none;
    padding: 0;
    transform: translate(-50%, 0) rotate(-8.25deg);
    width: 22vw;

    li {
        margin: 10px 0;
        padding: 0;
    }

    a {
        display: inline-block;
        height: auto;
        width: 100%;

        img {
            width: 100%;
        }
    }
}
