@import "../colors";
@import "../screen";

body.home-section {
    background-image: url('/img/backgrounds/home.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    color: $gold;
}

.home {
    @include full-screen-page();

    .home-screen {
        @include full-screen-container();
    }
}
