@import "../breakpoints";
@import "../colors";
@import "../screen";

body.home-section {
    background-image: url('/img/backgrounds/home.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    color: $gold;
}

.home {
    @include full-screen-page();

    .home-screen {
        @include full-screen-container();
        height: 57vw;

        @include respond-to('tablet-down') {
            height: 50vw;
        }
    }
}

.home-icon-menu {
    transform: rotate(-8deg);

    .archive-link {
        background-image: url(/img/archive-icon.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        height: 50px;
        width: 50px;
    }
}

.home-menu {
    transform: rotate(-8deg);
}
