@import "compass";

@import "../breakpoints";
@import "../colors";
@import "../screen";

.prism {
    @include full-screen-page();

    .prism-screen {
        @include full-screen-container();
    }

    .prism-blurb {
        @include full-screen-blurb();
    }

    .prism-top,
    .prism-bottom {
        font-size: 24px;
        font-variant: small-caps;
        margin: 25px auto;
        width: 33%;

        @include respond-to('phone-down') {
            margin: 0;
            width: 100%;
        }
    }

    .prism-top {
        h2 {
            color: $blue;
            font-family: "affogato-regular";
            font-variant: none;
            margin-top: 50px;
            text-align: center;
        }
    }

    .prism-middle {
        margin: 0 auto;
        width: 66%;

        img {
            width: 100%;
        }
    }

    .prism-arrow {
        background-image: url(/img/prism/blue-triangle.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 auto;
        height: 27px;
        width: 48px;
    }

    .prism-projects-row {
        @include display-flex;
        @include flex-direction(row);
        @include justify-content(space-around);

        @include respond-to('phone-down') {
            @include flex-direction(column);
        }
    }

    .project-item {
        @include flex(0 auto);
        width: 20%;

        @include respond-to('phone-down') {
            margin: 25px 0;
            width: 100%;
        }
    }

    .project-item-image {
        display: block;
        margin: 0 auto;
    }
}

body.prism-section {
    .logo-link {
        background-image: url(/img/prism-icon.png);
    }

    main {
        margin: 0;
        width: 100%;
    }
}

.prism-body {
    background-image: url(/img/backgrounds/prism.jpg);
    background-position: top center;
    background-size: cover;
    color: $blue;
    padding: 25px;
}
