@import "compass";

@import "../breakpoints";
@import "../screen";

.prism {
    @include full-screen-page();

    .prism-screen {
        @include full-screen-container();
    }

    .prism-blurb {
        @include full-screen-blurb();
    }

    .prism-projects-row {
        @include display-flex;
        @include flex-direction(row);
        @include justify-content(space-around);
    }

    .project-item {
        @include flex(0 auto);
        width: 200px;

        @include respond-to('phone-down') {
            float: none;
            width: 100%;
        }
    }

    .project-item-image {
        display: block;
        margin: 0 auto;
    }
}

body.prism-section {
    .logo-link {
        background-image: url(/img/prism-icon.png);
    }

    main {
        margin: 0;
        width: 100%;
    }
}

.prism-body {
    background-image: url(/img/backgrounds/prism.jpg);
    background-position: top center;
    background-size: cover;
    color: #4BADBD;
    padding: 25px;
}
