@import "../screen";

.prism {
    @include full-screen-page();

    .prism-screen {
        @include full-screen-container();
    }

    .prism-blurb {
        @include full-screen-blurb();
    }

    .project-item {
        float: left;
        width: 200px;
    }
}

body.prism-section {
    .logo-link {
        background-image: url(/img/prism-icon.png);
    }

    main {
        margin: 0;
        width: 100%;
    }
}

.prism-body {
    background-image: url(/img/backgrounds/prism.jpg);
    background-position: top center;
    background-size: cover;
    color: #4BADBD;
    padding: 25px;
}
