.artifacts-autocomplete-menu {
    border-radius: 3px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.9);
    font-size: 90%;
    overflow: auto;
    padding: 2px 0;
    position: fixed;
    max-height: 50%;
}
