@import "../arrows";
@import "../colors";

.slideshow {
    height: 100%;
    width: 100%;

    &-current-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    &-next-image {
        display: none;
    }

    &-prev,
    &-next {
        height: 49px;
        width: 28px;
    }

    &-prev {
        @include prev-arrow();
        background-image: url(/img/gold-left-arrow.png);
    }

    &-next {
        @include next-arrow();
        background-image: url(/img/gold-right-arrow.png);
    }
}
