@import "../arrows";
@import "../colors";

.slideshow {
    height: 100%;
    width: 100%;

    &-current-image {
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    &-prev, &-next {
        color: $gold;
    }

    &-prev {
        @include prev-arrow();
    }

    &-next {
        @include next-arrow();
    }
}
