@import "colors";
@import "fonts";
@import "spacing";

/*reset*/
html, body, div, span, a, p, ul, li, h1, code, nav {
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    text-decoration: inherit;
    text-align: inherit;
    color: inherit;
    background: transparent;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: rgb(0, 0, 0);
    line-height: 1.2;
    font-family: "affogato-regular";
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.025em;

    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;

    /*required for IE/Edge to be compatible with left:50vw & transform:translate(-50%, 0),
    otherwise there is a phantom div on the right side of the screen (from the left:50vw),
    that the window will scroll to*/
    overflow-x: hidden;
}

/*root div in index.html*/
#root {
    min-height: 100vh;
}

/*reactroot div*/
#root > div {
    width: 100%;
}

/*use responsive max-width to simulate padding/margin to allow
space for vertical scroll bar without creating horizontal scroll bar
(if there is padding, the window will scroll horizontally to show the padding) */
@media (max-width: 540px) {
    #root > div {
        max-width: calc(100vw - 40px);
    }
}

/*links*/
a {
    font-weight: bold;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

/*extended link*/
.extended-link {
    border: none;
}

.extended-link:hover, .extended-link:active,
.current-input-touch .extended-link:active, .current-input-touch .extended-link:hover {
    border: none;
    color: inherit;
}

.extended-link > span {
    border-bottom: 1px dotted rgb(0, 168, 0);
}

.extended-link:hover > span, .extended-link:active > span {
    border-bottom: 1px solid rgb(0, 168, 0);
    color: black;
}

.current-input-touch .extended-link:hover > span {
    border-bottom: 1px dotted rgb(0, 168, 0);
    color: inherit;
}

.current-input-touch .extended-link:active > span {
    border-bottom: 1px dashed rgb(0, 168, 0);
    color: black;
}

/*custom bullets*/
li {
    padding-left: 18px;
    margin: 0.5vh 0;
}

/*title*/
h1 {
    font-family: "Linowrite";
    font-size: 20px;
    margin-bottom: 0.5vh;
    font-size: 48px;
    color: rgb(255, 255, 255);
    font-variant: small-caps;
    line-height: 1.2;
}

h2 {
    font-size: 30px;
    font-family: "Linowrite";
    color: rgb(79, 27, 27);
    font-variant: small-caps;
    line-height: 1.2;
}

h3 {
    font-size: 24px;
    font-family: "Linowrite";
    color: rgb(255, 255, 255);
    font-variant: small-caps;
    line-height: 1.2;
    text-align: center;
    -moz-transform: matrix( 1.13833333333333,0,0,1.13819444444444,0,0);
    -webkit-transform: matrix( 1.13833333333333,0,0,1.13819444444444,0,0);
    -ms-transform: matrix( 1.13833333333333,0,0,1.13819444444444,0,0);
}

h4 {
    font-size: 18px;
    font-family: "Linowrite";
    color: rgb(0, 0, 0);
    font-variant: small-caps;
    line-height: 1.2;
}

h5 {
    font-size: 16px;
    font-family: "Linowrite";
    color: rgb(49, 43, 43);
    font-variant: small-caps;
    line-height: 1.2;
}

/*repo link*/
#root > div > a {
    font-size: 14px;
}

/*map menu*/
nav {
    margin: 3vh 0;
}

p {
    margin: 3vh 0;
    line-height: 1.4;
}

code {
    font-family: monospace;
    font-size: 15px;
    padding-left: 2px;
}

main {
    margin-left: $body-margin;
    margin-right: $body-margin;
    width: calc(100% - #{2 * $body-margin});

    & > div {
        padding-top: 100px;
    }
}

.header-separator {
    background-color: $gold;
    height: 3px;
    margin: 0 auto;
    margin-top: 5px;
    width: 45px;
}
