// break points
$breakpoint-phone: 768 !default;
$breakpoint-tablet: 1024 !default;

$breakpoints: (
    'phone-down': 'max-width: #{$breakpoint-phone}px',
    'tablet-down': 'max-width: #{$breakpoint-tablet}px',
    'phone-up': 'min-width: #{$breakpoint-phone}px',
    'tablet-up': 'mmin-width: #{$breakpoint-tablet}px',
);

@mixin respond-to($breakpoint) { 
    @if map-has-key($breakpoints, $breakpoint) {
        @media (#{map-get($breakpoints, $breakpoint)}) {
            @content;
        }
    }

    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
    }
}
