@import "spacing";

@mixin full-screen-page() {
    margin-top: -100px;
}

@mixin full-screen-container() {
    box-sizing: border-box;
    height: 100vh;
    padding-top: 100px;
    position: relative;
}

@mixin full-screen-blurb() {
    bottom: 0;
    margin-left: -$body-margin;
    position: absolute;
    width: 400px;

    h2 {
        background-image: url(/img/blurb-header.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0;
        text-align: center;
    }

    & > * {
        color: white;
        padding: 20px;
    }

    & > div {
        background-image: url(/img/blurb-body.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
