@mixin full-screen-page() {
    margin-top: -100px;
}

@mixin full-screen-container() {
    box-sizing: border-box;
    height: 100vh;
    padding-top: 100px;
    position: relative;
}

@mixin full-screen-blurb() {
    bottom: 0;
    position: absolute;
    width: 300px;

    h2 {
        margin-top: 0;
        text-align: center;
    }

    & > * {
        background-color: black;
        color: white;
        padding: 20px;
    }
}
